# WANT TO ONLY DETECT (LIST) TYPESCRIPT AS A LANGUAGE
*.ts linguist-detectable=true

# DON'T LIST OTHER LANGUAGES
*.js linguist-detectable=false
*.html linguist-detectable=false
*.css linguist-detectable=false
*.json linguist-detectable=false
*.yaml linguist-detectable=false
*.md linguist-detectable=false
*.sh linguist-detectable=false
*.hbs linguist-detectable=false
.env linguist-detectable=false