* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  margin: 10px 0 20px 0;
}

.alert {
  width: 65px;
}

#logo-text {
  color: rgb(255, 198, 93);
}

.option-btn {
  position: relative;
  top: -15px;
}

code {
  font-size: 0.95rem;
  position: relative;
  left: 5%;
  transform: translateX(-50%);
  padding: 2px 5px;
  border-radius: 5px;
}

small {
  font-size: 0.9rem;
}
