* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
}

.groups-container {
  height: 750px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 10px 0px;
}

.tip {
  position: relative;
  display: inline-block;
}

.tip .tiptext,
.tip .tiptext-side,
.tip .tiptext-bottom {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  z-index: 1;
  position: absolute;
  opacity: 0;
}

.tip .tiptext::after,
.tiptext-side::after,
.tiptext-bottom::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tip .tiptext {
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
}

.tip .tiptext::after {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tip .tiptext-side {
  top: 60%;
  right: 125%;
  transform: translateY(-50%);
}

.tip .tiptext-side::after {
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  border-color: transparent transparent transparent black;
}

.tip .tiptext-bottom {
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
}

.tip .tiptext-bottom::after {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-color: transparent transparent black transparent;
}

.tip:hover .tiptext,
.tip:hover .tiptext-side,
.tip:hover .tiptext-bottom {
  visibility: visible;
  opacity: 0.9;
}

/* remove focus after clicked */
.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn:hover {
  background: white !important;
}

#options-btn {
  position: absolute;
  right: 0px;
}

#donate {
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
}

input[type="image"]:focus {
  border: none;
  outline: none;
}

input[type="image"] {
  transform: scale(1.1);
}

#copyright {
  position: fixed;
  bottom: 0%;
  left: calc(25% + 20px);
  transform: translateX(-50%);
}

#logo-text {
  color: rgb(255, 198, 93);
}

#logo-img {
  border-radius: 5px;
}
