/* GLOBAL */
.global-btn-row {
  width: 80% !important;
}

.btn-outline-warning {
  border: 1px solid goldenrod;
}

.btn-in-global {
  width: 30px;
  height: 30px;
}

#open-all-btn svg,
#import-btn svg,
#export-btn svg {
  padding: 0;
}

#open-all-btn svg {
  width: 22px;
  height: 22px;
  position: relative;
  top: -2px;
}

#import-btn svg,
#export-btn svg {
  position: relative;
  left: -11px;
  top: -6px;
  width: 26px;
  height: 26px;
}

#delete-all-btn svg {
  width: 28px;
  height: 28px;
  padding: 0;
}

#import-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

#pdf-btn {
  border: 1px solid purple;
}

#pdf-btn svg {
  position: relative;
  left: 1px;
  top: -1px;
}

#options-btn {
  position: absolute;
  right: 0px;
}

#add-group-btn {
  background: none !important;
}

/* MERGE BUTTONS */
.merging-container {
  margin-top: 1px;
  margin-right: 3px;
}

.btn-for-merging,
.btn-in-group-title {
  width: 22px;
  height: 22px;
  margin-top: 2px;
}

.btn-for-merging svg {
  position: relative;
  left: -10px;
  top: -10px;
}

.title-btn-containter {
  position: absolute;
  right: 20px;
  top: 2px;
}

.btn-in-group-title {
  margin: 0;
  padding: 0 2px;
  border: none;
  background: none !important;
}

.merge-btn svg {
  transform: rotate(90deg);
}

.merge-right-btn svg {
  transform: rotate(180deg);
}

.open-group-btn:focus {
  border: forestgreen 1px solid;
}

.open-group-btn svg,
.delete-group-btn svg,
.show-hide-btn svg {
  left: -8px;
}

/* TOOLTIP */
.tip {
  position: relative;
  display: inline-block;
}

.tiptext-global,
.tiptext-group {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  box-shadow: inset 0px 0px 2px 1px #fff;
  padding: 5px;
  z-index: 1;
  opacity: 0;

  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.95rem;
}

.tiptext-group {
  bottom: 100%;
  left: 5%;
}

.tiptext-global::after,
.tiptext-group::after {
  content: "";
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;

  position: absolute;
  top: 100%;
  left: 48%;
  transform: translateX(-50%);
}

.tip:hover .tiptext-global,
.tip:hover .tiptext-group {
  visibility: visible;
  opacity: 0.9;
}
