.group {
  min-height: 100px;
  border: 1px solid black;
  border-radius: 10px;
}

.group-title {
  width: 20%;
  margin: 0;
  position: relative;
  left: 10px;
  border: 1px black solid;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  font-size: 1.3rem;
}

#group-1 {
  background: rgb(201, 201, 201);
}

#group-2 {
  background: rgb(255, 164, 164);
}

.styles_Editext__button__6H8n_ {
  border: none;
  padding: 0;
  background: none;
}

.styles_Editext__input__1534X {
  padding: 2px;
  text-align: center;
  border-radius: 5px;
}

.styles_Editext__save_button__3WN6q,
.styles_Editext__cancel_button__259hb {
  border-radius: 5px;
  margin: 0 5px;
}
