.group-title {
  width: 50%;
  margin: 0;
  position: relative;
  left: 10px;
  border-bottom: 1px black dashed;
  border-radius: 5px 5px 0 0;
  font-size: 1.3rem;
  color: black !important;
}

.group {
  min-height: 75px;
  border-radius: 5px;
  position: relative;
}

table {
  position: relative;
  width: 100%;
}

td {
  width: 50%;
  padding: 0 5px;
}

/* TIMESTAMP */
.created {
  background: none !important;
  position: absolute;
  top: -25px;
  right: 0;
}

/* GROUP COUNTER */
.tabTotal-inGroup {
  margin: 0;
  padding: 1px;
  position: absolute;
  left: 10px;
  top: 2px;
  color: black !important;

  min-width: 24px;
  min-height: 24px;
  text-align: center;
}

/* COLOR PICKER (GROUP) */
.input-color {
  position: absolute;
  right: 10px;
  top: 2px;
  width: 24px;
  height: 24px;
}

.input-color:hover {
  cursor: pointer;
}

input[type="color"] {
  display: none;
}

/* GROUP TITLE */
.title-edit-input {
  height: 30px;
  position: relative;
  top: -5px;
  padding-bottom: 5px;
}

.title-edit-input:focus {
  border: none;
  outline: none;
}

.reload-title {
  visibility: hidden;
  position: relative;
  padding: 0 5px;
}

.reload-title:hover {
  cursor: pointer;
}
