.group {
  min-height: 75px;
  border-radius: 10px;
}

.group-title {
  width: 25%;
  margin: 0;
  position: relative;
  left: 10px;
  border-bottom: 1px black dashed;
  border-radius: 5px 5px 0 0;
  font-size: 1.3rem;
  color: black !important;
}

/* PAGE TOTAL COUNTER */
.tabTotal-inGroup {
  width: 25%;
  color: black !important;
}

/* TIMESTAMP */
.created {
  background: none !important;
  position: relative;
  top: 10px;
}

/* COLOR PICKER (GROUP) */
input[type="color"] {
  width: 40px;
  margin-top: 7px;
}

input[type="color"]:hover {
  cursor: pointer;
}

/* EDITEXT */
input[editext="input"] {
  width: 150px;
  padding: 2px;
  text-align: center;
  border-radius: 5px;
}

.title-edit-btn {
  border: none;
  padding: 0;
  background: none;
}

/* remove the default pencil */
.title-edit-btn::before {
  display: none;
}

.title-edit-btn:hover {
  background: none;
}

.title-save-btn,
.title-cancel-btn {
  padding: 0 5px;
  background: none;
  border: none;
}

.title-save-btn:focus,
.title-cancel-btn:focus {
  border: none;
  outline: none;
}

.title-save-btn {
  color: green;
}

.title-cancel-btn {
  color: red;
}
