.close-tab {
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.close-tab:hover {
  cursor: pointer;
  fill: red;
}

.move-tab:hover {
  cursor: move;
}

.tabTotal-inGroup {
  position: relative;
  left: 15px;
}

.draggable {
  position: relative;
  left: 25px;
}
